<div class="mx-auto pb-12 container max-w-[940px]">
  <section *ngFor="let partner of (language === 'fr' ? partners : partnersEn)"
    class="mt-12 bg-white rounded-xl shadow-lg">
    <div class="p-12">
      <img *ngIf="partner.logo" [src]="partner.logo" [alt]="partner.name" style="width: 200px; height: 100px;"
        class="mb-8" />
      <h2 class="mb-7 text-primary text-3xl font-bold">
        {{ partner.name }}
      </h2>
      <p [innerHTML]="partner.about"></p>
      <p *ngIf="partner.website" class="mt-12 text-primary font-bold">
        <a [href]="partner.website" class="underline" target="_blank" rel="noopener">
          {{ partner.website }}
        </a>
      </p>
    </div>
  </section>
</div>
